{% include 'common/header.html' %}
<!-- banner -->
<div class="banner">
    <img src="{{ url_for('static',filename='img/photos/banner.jpg') }}" class="img-responsive" alt="slide">
    <div class="welcome-message">
        <div class="wrap-info">
            <div class="information">
                <h1 class="animated fadeInDown">Best hotel in Dubai</h1>
                <p class="animated fadeInUp">Most luxurious hotel of asia with the royal treatments and excellent customer service.</p>
            </div>
            <a href="#information" class="arrow-nav scroll wowload fadeInDownBig"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
</div>
<!-- banner-->
<!-- reservation-information -->
<div id="information" class="spacer reserve-info ">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-8">
                <div class="embed-responsive embed-responsive-16by9 wowload fadeInLeft"><iframe class="embed-responsive-item" src="//player.vimeo.com/video/55057393?title=0" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
                {{data}}
            </div>
            <div class="col-sm-5 col-md-4">
                <h3>Room Search</h3>
                <form method="post" action="">

                    <div class="form-group">
                        <label class="checkbox-inline"><input type="checkbox" name="hotels" value="10091622" class="form-checkb">HO1</label>
                        <label class="checkbox-inline"><input type="checkbox" name="hotels" value="10272397">HO2</label>
                        <label class="checkbox-inline"><input type="checkbox" name="hotels" value="10360171">HO3</label>
                        <label class="checkbox-inline"><input type="checkbox" name="hotels" value="99917724">HO4</label>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" min="0" placeholder="Duration" name="duration">
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="room">
                                <option>No. of Rooms</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="quantity">
                            <option>No. of Adult</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <select class="form-control" name="expiry-date" id="expiry-month">
                                    <option>Date</option>
                                    <option value="01">1</option>
                                    <option value="02">2</option>
                                    <option value="03">3</option>
                                    <option value="04">4</option>
                                    <option value="05">5</option>
                                    <option value="06">6</option>
                                    <option value="07">7</option>
                                    <option value="08">8</option>
                                    <option value="09">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>                               
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" name="expiry-month" id="expiry-month">
                                    <option>Month</option>
                                    <option value="01">Jan (01)</option>
                                    <option value="02">Feb (02)</option>
                                    <option value="03">Mar (03)</option>
                                    <option value="04">Apr (04)</option>
                                    <option value="05">May (05)</option>
                                    <option value="06">June (06)</option>
                                    <option value="07">July (07)</option>
                                    <option value="08">Aug (08)</option>
                                    <option value="09">Sep (09)</option>
                                    <option value="10">Oct (10)</option>
                                    <option value="11">Nov (11)</option>
                                    <option value="12">Dec (12)</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" name="expiry-year">                                   
                                    <option value="2017" selected>2017</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="spacer services wowload fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div id="RoomCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active"><img src="{{ url_for('static',filename='img/photos/8.jpg') }}" class="img-responsive" alt="slide"></div>
                        <div class="item  height-full"><img src="{{ url_for('static',filename='img/photos/9.jpg') }}" class="img-responsive" alt="slide"></div>
                        <div class="item  height-full"><img src="{{ url_for('static',filename='img/photos/10.jpg') }}" class="img-responsive" alt="slide"></div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#RoomCarousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#RoomCarousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
                <!-- RoomCarousel-->
                <div class="caption">Rooms<a href="#" class="pull-right"><i class="fa fa-edit"></i></a></div>
            </div>


            <div class="col-sm-4">
                <!-- RoomCarousel -->
                <div id="TourCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active"><img src="{{ url_for('static',filename='img/photos/6.jpg') }}" class="img-responsive" alt="slide"></div>
                        <div class="item  height-full"><img src="{{ url_for('static',filename='img/photos/3.jpg') }}" class="img-responsive" alt="slide"></div>
                        <div class="item  height-full"><img src="{{ url_for('static',filename='img/photos/4.jpg') }}" class="img-responsive" alt="slide"></div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#TourCarousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#TourCarousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
                <!-- RoomCarousel-->
                <div class="caption">Tour Packages<a href="#" class="pull-right"><i class="fa fa-edit"></i></a></div>
            </div>


            <div class="col-sm-4">
                <!-- RoomCarousel -->
                <div id="FoodCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active"><img src="{{ url_for('static',filename='img/photos/1.jpg') }}" class="img-responsive" alt="slide"></div>
                        <div class="item  height-full"><img src="{{ url_for('static',filename='img/photos/2.jpg') }}" class="img-responsive" alt="slide"></div>
                        <div class="item  height-full"><img src="{{ url_for('static',filename='img/photos/5.jpg') }}" class="img-responsive" alt="slide"></div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#FoodCarousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#FoodCarousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
                <!-- RoomCarousel-->
                <div class="caption">Food and Drinks<a href="#" class="pull-right"><i class="fa fa-edit"></i></a></div>
            </div>
        </div>
    </div>
</div>
{% include 'common/footer.html' %}